.landing-btn {
    width: 200px;
    border-color: red;
    text-transform: capitalize !important;
}

.about {
    background-color: #ffffff;
    color: #000000;
}

.about-img {
    height: 300px;
    width: auto;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 100px;
}

.experience-items-container {
    max-width: 1080px;
}

.educationItem {
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 5px 10px;
    cursor: pointer;
    padding: 15px;
}

.item-img {
    border-radius: 12px;
    height: 80px;
    background-color: #ffffff;
}

.contactItem {
    padding: 15px;
    width: 300px;
    background-color: rgba(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
}

.contact-link {
    text-decoration: none !important;
}


.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 3s;
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}