.landing-btn {
  width: 200px;
  border-color: red;
  text-transform: capitalize !important;
}

.about {
  background-color: #ffffff;
  color: #000000;
}

.about-img {
  height: 300px;
  width: auto;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 100px;
}

.experience-item {
  border: 1px solid #ffffff;
  border-radius: 12px;
  cursor: pointer;
  padding: 15px 24px;
  position: relative;
}

.experience-org {
  position: absolute;
  width: fit-content;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.experience-item-img {
  border-radius: 12px;
  padding: 5px;
  height: 80px;
  width: 80px;
  background-color: #ffffff;
}

.experience-details {
  width: 300px;
}

.experience-details-title {
  color: #ffffff;
  font-size: 24px;
}

.total-experience-card,
.technology-experience-card {
  border: 1px solid white;
  border-radius: 12px;
  padding: 10px 15px;
}

.experience-items-container {
  max-width: 800px;
}

.experience-year {
  font-size: 32px;
  color: #ffffff;
}

.experience-year-label {
  font-size: 11px;
  color: #ffffff;
  margin-top: -5px;
}

.technology-experience-tile {
  width: 60px;
  height: 60px;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.technology-experience-tile div {
  width: 100%;
}

.technology-experience-logo img {
  height: 40px;
  width: 40px;
}

.education-title {
  font-weight: 700;
  color: #000000;
  letter-spacing: 2px;
}

.education-item {
  border: 1px solid #ffffff;
  border-radius: 12px;
  cursor: pointer !important;
  padding: 15px;
}

.item-img {
  border-radius: 12px;
  height: 80px;
  background-color: #ffffff;
}

.education,
.contact {
  background-color: #ffffff;
  padding: 64px 0px;
  color: #000000;
}

.steps-label {
  color: #ffffff !important;
}

/* Animation css */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 3s;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
