/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/* font-family: 'Rock 3D', cursive; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}